# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android related
**/android/**/generated/
**/android/gen/
**/android/local.properties
**/android/out/
**/android/bin/
**/android/build/
**/android/.gradle/
**/android/captures/
**/android/*.iml
**/android/.settings/
**/android/.project
**/android/.classpath
**/android/.idea/

# iOS/macOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/.res/
**/ios/.symlinks/
**/ios/Pods/
**/ios/.xcworkspace/
**/macos/Flutter/ephemeral/
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh
**/macos/.res/
**/macos/.symlinks/
**/macos/Pods/
**/macos/.xcworkspace/

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/
**/windows/cmake-build-debug/
**/windows/cmake-build-profile/
**/windows/cmake-build-release/